<form class="home-form" action="/" method="post">
  <input class="form-control" placeholder="Enter stop name" name="stop">
  <button type="submit" class="btn btn-primary">Go</button>
  <% if info %>
    <p><%= info %></p>
  <% end %>
</form>