.home-form {
  width: 100%;
}

.home-form > button {
  width: 100%;
  margin-top: 10px;
}

.content {
  margin-top: 20px;
}

.subtitle {
  color: grey;
  font-size: 12pt;
}

.wrap-text {
  word-wrap: break-word;
}

.quick-links > a {
  word-wrap: nowrap;
  white-space: nowrap;
  margin-right: 10px;
}
